<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="../js/jquery-3.4.1.min.js" type="text/javascript"></script>
        <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <title>Pagina de Bienvenida</title>
        <link href="../css/miLogin.css" rel="stylesheet" type="text/css"/>
        <link href="../css/miLayout.css" rel="stylesheet" type="text/css"/>
        <link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <script src="../js/bootstrap.min.js" type="text/javascript"></script>
       
        

    </head>
    <body id="principal">

        <nav class="navbar navbar-expand-md navbar-dark bg-dark flex-row">
              <div>
                <h1 class="text-white">NO TIENE PERMISO PARA ACCEDER A ESTA PAGINA</h1>
            </div> 
        </nav>

       
    </body>
</html>
