server:
  port: 8888


spring:
  application:
    name: micro-admin-config-server
    
#Configuracion local
  profiles:
      active: native
      
#  cloud:
#    config:
#      server:
#        native:
#          search-locations: ///C:/DBScertusCicloV/Ecommerce/micro-gestion-config-data
          
#Configuracion Cloud (git)
  cloud:
    config:
      server:
        git:
          uri: https://github.com/Csvm2021/dsbsV.git
          searchPaths: ms-gestion-config-data/ms-gestion-config-data/
#          username: ${USER_NAME}
#          password: ${USER_PASSWORD}
          default-label: main
          cloneOnStart: true
          ignore-local-ssh-settings: true    